.animated-link.glitch {
  position: relative;
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
  animation: glitch1 10s infinite;
}
.animated-link.glitch::before {
  color: var(--secondary);
  z-index: -1;
  animation: glitch2 10s infinite;
}
.animated-link.glitch::after {
  z-index: -2;
  color: var(--accent);
  animation: glitch3 10s infinite;
}
.animated-link.glitch::before,
.animated-link.glitch::after {
  content: var(--dynamic-content);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes glitch1 {
  0%,
  80% {
    transform: none;
    opacity: 1;
  }
  81.4% {
    transform: translate(6px, 6px);
    opacity: 0.75;
  }
  82% {
    transform: none;
    opacity: 1;
  }
  85.4% {
    transform: none;
    opacity: 1;
  }
  86% {
    transform: translate(-4px, 8px);
    opacity: 0.75;
  }
  87% {
    transform: none;
    opacity: 1;
  }
  90.4% {
    transform: none;
    opacity: 1;
  }
  91% {
    transform: translate(4px, -8px);
    opacity: 0.75;
  }
  90% {
    transform: none;
    opacity: 1;
  }
  94.4% {
    transform: none;
    opacity: 1;
  }
  95% {
    transform: translate(-6px, -6px);
    opacity: 0.75;
  }
  96% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0%,
  80% {
    transform: none;
    opacity: 0.5;
  }
  81.2% {
    transform: translate(-4px, -6px);
    opacity: 0.75;
  }
  82% {
    transform: none;
    opacity: 0.5;
  }
  85.4% {
    transform: none;
    opacity: 0.5;
  }
  86% {
    transform: translate(6px, -4px);
    opacity: 0.75;
  }
  87% {
    transform: none;
    opacity: 0.5;
  }
  90.4% {
    transform: none;
    opacity: 0.5;
  }
  91% {
    transform: translate(-6px, -2px);
    opacity: 0.75;
  }
  90% {
    transform: none;
    opacity: 0.5;
  }
  94.4% {
    transform: none;
    opacity: 0.5;
  }
  95% {
    transform: translate(4px, 8px);
    opacity: 0.75;
  }
  96% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 0.5;
  }
}
@keyframes glitch3 {
  0%,
  80% {
    transform: none;
    opacity: 0.5;
  }
  81.4% {
    transform: translate(4px, 6px);
    opacity: 0.75;
  }
  82% {
    transform: none;
    opacity: 0.5;
  }
  85.4% {
    transform: none;
    opacity: 0.5;
  }
  86% {
    transform: translate(6px, 4px);
    opacity: 0.75;
  }
  87% {
    transform: none;
    opacity: 0.5;
  }
  90.4% {
    transform: none;
    opacity: 0.5;
  }
  91% {
    transform: translate(6px, 2px);
    opacity: 0.75;
  }
  90% {
    transform: none;
    opacity: 0.5;
  }
  94.4% {
    transform: none;
    opacity: 0.5;
  }
  95% {
    transform: translate(-4px, -8px);
    opacity: 0.75;
  }
  96% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 0.5;
  }
}
@keyframes glitchy-words {
  0%,
  25% {
    content: 'Front-End Developer,';
  }
  26%,
  50% {
    content: 'Web Designer,';
  }
  51%,
  75% {
    content: 'UI / UX Developer,';
  }
  76%,
  100% {
    content: 'Software Engineer,';
  }
}
