:root {
  --primary: #08f508;
  --secondary: #579e35;
  --accent: #224d0e;
  --body-bg: rgb(14, 14, 14);
  --bg: rgba(97, 91, 91, 0.2);
  --bg2: rgba(0, 0, 0, 0.2);
  /* gradient on bg2 */
  --content-bg: rgba(0, 0, 0, 0.8);
  --text-color: white;
  --primary-shadow: 0 0 8px var(--primary);
  --primary-shadow2: 0 0 12px var(--primary);
  --primary-shadow3: 0 0 16px var(--primary);
  --border: 2px solid var(--primary);
  --content-width: 95%;
  --lh: 1.2;
  --lh2: 1.5;
  --sm-gap: 10px;
  --md-gap: 20px;
  --lg-gap: 40px;
  --xl-gap: 60px;
  --transition: 0.2s ease-out;
  --header-font: 'Verdana';
  --content-font: 'Helvetica';
  --fs-lg: 34px;
  --fs-md: 28px;
  --fs-sm: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--content-font);
}

body {
  background-color: var(--body-bg);
  position: relative;
  color: var(--text-color);
  font-size: var(--fs-sm);
  scroll-behavior: smooth;
  letter-spacing: 1pt;
}
main {
  width: 100%;
}
section {
  width: var(--content-width);
  min-height: 85dvh;
  margin: var(--lg-gap) auto;
  padding: var(--lg-gap);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  border: 2px solid transparent;
}

h2 {
  font-family: var(--header-font);
  font-size: var(--fs-lg);
  color: var(--primary);
  text-align: center;
  padding-bottom: var(--lg-gap);
}
h3 {
  font-family: var(--header-font);
  font-size: var(--fs-md);
  color: var(--secondary);
}
hr.divider {
  width: 100%;
  height: 15dvh;
  min-height: 125px;
  border: none;
}

/* --black-shadow: 0 0 8px #000000; */
/* --black-shadow: 0 0 12px #000000; */
/* --heading-color: ; */
/* --gradient-primary:  */
/* --gradient-secondary:  */
/* --shadow: ; */
/* --shadow-heavy: ; */
/* --border2: ; */
