:root {
  --primary: #08f508;
  --bg-primary: #4a882d;
  --bg-secondary: #275810;
  --bg: black;
  --bg2: grey;
  --content-bg: rgba(0, 0, 0, 0.8);
  --txt-color: white;
  --primary-shadow: 0 0 8px var(--primary);
  --primary-shadow2: 0 0 12px var(--primary);
  /* --black-shadow: 0 0 8px #000000; */
  /* --black-shadow: 0 0 12px #000000; */
  /* --heading-color: ; */
  /* --gradient-primary:  */
  /* --gradient-secondary:  */
  /* --shadow: ; */
  /* --shadow-heavy: ; */
  /* --border: ; */
  /* --border2: ; */
  --content-width: 90%;
  --lh: 1.2;
  --lh2: 1.5;
  --sm-gap: 10px;
  --md-gap: 20px;
  --lg-gap: 40px;
  --xl-gap: 60px;
  --transition: 0.2s ease-out;
  --header-font: 'Times New Roman';
  --content-font: 'Helvetica';
  --fs-lg: 32px;
  --fs-md: 26px;
  --fs-sm: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: var(--content-font);
}

body {
  background-color: var(--bg);
  color: var(--txt-color);
  font-size: var(--fs-sm);
}

h2 {
  font-size: var(--fs-lg);
}
h3 {
  font-size: var(--fs-md);
}
